/* General body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main container for the dashboard */
.dashboard-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-width: 1000px;
  text-align: center;
}

/* Heading style */
h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* List styling */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  text-align: left;
}

/* Styling for each list item */
li {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Strong text for the question and options */
strong {
  color: #333;
}

/* Button styling */
.btn {
  display: inline-block;
  background-color: #230303;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 15px;
  margin-top: 20px;
}

.btn:hover {
  background-color: #0056b3;
}
.create-quiz-btn {
  display: inline-block;
  background-color: #b4bb27;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 15px;
  margin-top: 50px; /* Add margin-top to move the button down */
}
